/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/SymfonyRequirements.php
/build/
/bin/
/components/
/composer.phar
/vendor/
/web/assetic/
/web/bundles/
/web/components/
/web/css
/web/fonts/
/web/images/
/web/js
/.settings
/.buildpath
/.project
*~
.DS_Store
.externalToolBuilders
.idea
*.sw*
/nbproject/private/