security:
    providers:
        main:
            entity:
                class: Cvut\Fit\BiWt1\Blog\CommonBundle\Entity\User
                property: name

    encoders:
        Cvut\Fit\BiWt1\Blog\CommonBundle\Entity\User:
            algorithm: sha1

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        default:
            anonymous: ~

        login_firewall:
            pattern:   ^/login$
            anonymous: ~

        secured_area:
            pattern:   ^/
            anonymous: ~
            form_login:
                login_path: login
                check_path: login_check
            logout:
                path: /logout
                target: /

    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, roles: ROLE_USER }
